@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #212529;
}
.font-Inter{
    font-family: "Inter", sans-serif;
}
.container {
    /* < 1280 => mobile view */
    @apply max-w-none px-4;
    /* >= 1280 => desktop view */
    @apply xl:max-w-[1170px] xl:px-0;
    @apply transition-all ease-in-out;
}

body .layoutAdmin{
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow-x: hidden;
}

.booking::before {
    content: "";
    background-image: url('https://res.cloudinary.com/dsxkwbfyq/image/upload/v1726735303/Web_Travel/bg-step_mfdo97.png');
    width: 100%;
    height: 142px;
    position: absolute;
    left: 50%;
    top: 155px;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position-x: center;
}

.cart-tour:hover img{
    scale: 1.05;
}
.love::before{
    content: "";
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.17) 36.66%, transparent 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.el-date-editor.el-input, .el-date-editor.el-input__wrapper{
    height: 44px !important;
    width: 188px !important;
}
.slider .location:hover div{
    display: block;
}
.tour .splide__arrow{
    background: #fff;
    box-shadow: 0 0 4px 0 #0396ff;
    border-radius: 50%;
}
.tour .splide__arrow:hover{
    width: 40px;
    height: 40px;
    background: #0396ff;
}
.tour .splide__arrow:hover svg{
    fill: #fff;
}
.tour .splide__arrow svg{
    fill: #0396ff;
}
.footer .el-collapse-item__header{
    font-size: 18px;
    font-weight: 600;
}
.detail-tour .el-collapse-item__header{
    font-size: 16px;
    background: #e6f4ff;
    color: #212633;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}
.detail-tour .el-collapse{
    border: none;
}
.infomation .el-textarea__inner{
    height: 130px;
}
.user-header:hover .subnav{
    opacity: 1;
    visibility: unset;
}

.login .el-collapse-item__arrow{
    display: none;
}